body {
    background-color:rgb(255, 255, 254);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 150px;
}

li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

button#darkMode {
    padding: 10px 20px;
    margin-left: 800px;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 80px;
    text-align: center;
    font-weight: lighter;
    
}
p {
    display: block;
    text-align: center;
    margin: 5px 150px ;
    padding-top: 5px;
    font-size: 20px;
    font-weight: lighter;
}

#intro {
    overflow: auto;
}

#titles {
    float: left;
    padding-top: 100px;
    padding-left: 200px;
}
img {
    border: 2px solid #686ee2;
    border-radius: 2%;
    
}

#intro-image {
    margin: 0 300px 0 auto;
    max-width: 250px;
    border-radius: 2%;
    float: right;
}

#about-me-para {
    display: block;
    text-align: center;
    clear: both;
    margin: 20px 150px ;
    padding-top: 30px;
    font-size: 20px;
    font-weight: lighter;
}

#contact-links-section {
    display:flex;
    justify-content: center;
}

.contact-links {
    font-size: 50px;
    letter-spacing: 1em;
    color: #5c3e84;
    padding-left: 30px;
}

.subheadings {
    text-align: center;
    color: mediumpurple;
    font-size: 35px;
}

h3 {
    font-size: 30px;
    color: #f35c6e;
    padding-left: 200px;
}
 h4 {
     color: #ffa87b;
     padding-left: 200px;
     font-size: 20px;
 }

 #projects-pictures {
     margin: 30px 0 30px 0;
     display: flex;
     justify-content: space-evenly;
 }

 #project-links {
     display: flex;
     justify-content: space-around;

 }

button {
    border: 2px solid #f35c6e;
    background-color: #f35c6e;
    color: white;
    padding: 20px 30px;
    border-radius: 50px;
    font-size: 16px;
 }

 button:hover {
    border: 2px solid #ffa87b;
    background-color: #ffa87b;
    color: white;
    transition: ease-in-out;
    cursor: pointer;


 }
 @media (min-width: 500px) {
     img {
         
     }
 }

 @media (min-width: 300px) and (max-width:500px) {
     h1 {
         font-size: 20px;
         border: 10px solid red;
     }
 }